button {
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: var(--lotto-primary-color);
  padding: 6px 6px 6px 8px;
  color: var(--lotto-greyScale1-color);
}

button:disabled {
  background-color: var(--lotto-greyScale3-color);
}

input {
  box-sizing: border-box;
  border: 1px solid var(--lotto-greyScale3-color);
  border-radius: 4px;
}

form label {
  margin-bottom: 4px;
}
.hidden {
  display: none;
}

.message-error {
  margin: 5px 0;
  height: 20px;
  color: rgb(236, 84, 84);
  font-weight: var(lotto-caption-fontWeight);
  font-size: 12px;
  line-height: var(lotto-caption-lineHeight);
}

.shadow {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.19);
}

.screen-reader-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
